whatsapp-bot-rag/whatsapp-bot-rag.json
{
  "updatedAt": "2026-03-11T12:48:53.327Z",
  "createdAt": "2026-03-11T12:37:36.270Z",
  "id": "huPeULVLXBN34GqX",
  "name": "whatsapp-bot-rag",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "mode": "list",
          "value": "documents",
          "cachedResultName": "documents"
        },
        "options": {
          "queryName": "match_documents"
        }
      },
      "id": "d130d30f-18ba-4510-8d15-cea9621ca9ee",
      "name": "Supabase Vector Store",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "position": [
        2368,
        3168
      ],
      "typeVersion": 1.3
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyWeek",
              "weekday": "0"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "mode": "list",
          "value": "1JCjixUoufxZRiFatfq-Nihr_vYRVoo2r",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1JCjixUoufxZRiFatfq-Nihr_vYRVoo2r",
          "cachedResultName": "Holistic care"
        },
        "event": "fileUpdated",
        "options": {}
      },
      "id": "1b037df7-4f01-4e7d-a031-184198ce46f7",
      "name": "Google Drive Trigger",
      "type": "n8n-nodes-base.googleDriveTrigger",
      "position": [
        1760,
        3168
      ],
      "typeVersion": 1,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "OzwCPSpP2CmQENdc",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c33387a9-a6ed-485a-8ed9-c3fdb646de3a",
              "name": "id",
              "type": "string",
              "value": "={{ $json.id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "cf0a8f55-cb47-477e-8040-1365f5e3427b",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "position": [
        1968,
        3168
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $json.id }}"
        },
        "options": {
          "googleFileConversion": {
            "conversion": {
              "docsToFormat": "text/plain"
            }
          }
        }
      },
      "id": "be5845c0-3845-42c7-b8e9-081e1e9dbd36",
      "name": "Download file",
      "type": "n8n-nodes-base.googleDrive",
      "position": [
        2176,
        3168
      ],
      "typeVersion": 3,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "OzwCPSpP2CmQENdc",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "88350128-579d-4057-ae37-fa7c24db7e55",
      "name": "Embeddings OpenAI",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "position": [
        2320,
        3344
      ],
      "typeVersion": 1.2,
      "credentials": {
        "openAiApi": {
          "id": "YOQnRjh8xymSnNpL",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "textSplittingMode": "custom",
        "options": {}
      },
      "id": "3f608637-4191-4ad0-83e6-101f7fe86095",
      "name": "Default Data Loader",
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "position": [
        2464,
        3312
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "separator": ".",
        "chunkSize": 2000,
        "chunkOverlap": 300
      },
      "id": "229b1725-6772-424c-95a0-e961783f6f86",
      "name": "Character Text Splitter",
      "type": "@n8n/n8n-nodes-langchain.textSplitterCharacterTextSplitter",
      "position": [
        2592,
        3440
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Add documents to vector store\n",
        "height": 464,
        "width": 1200,
        "color": 4
      },
      "id": "eaa28638-361d-4c92-a967-71f8095db557",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1648,
        3104
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini",
          "cachedResultName": "gpt-4.1-mini"
        },
        "options": {
          "temperature": 0.3
        }
      },
      "id": "48fd61b1-6524-45af-b22e-468d63e33e91",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        2416,
        2768
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json['text '] }}",
        "options": {
          "systemMessage": "=SYSTEM ROLE\nYou are intelligent and the best customer support agent for **HolistiCare (DHA, Lahore)**.\nTone: concise, friendly, courteous, professional. No emojis. Spartan wording.Be sympathetic and empathetic with the customer. \n\nCONTEXT \n\nHolistiCare is a multi-specialty clinic in DHA Phase 3, Lahore, providing care across: Dermatology/Aesthetics, Dentistry, Physiotherapy (incl. Hijama), Psychology & Psychiatry, Nutrition/Weight Loss, Pediatrics, Orthopedics, Gastroenterology, Urology, Neurology, Eye/Optometry, Internal Medicine/Diabetology/Endocrinology/Pulmonology, Gynecology, and Lab Testing.\n- The customer are frustrated and want good treatment always treat them in a way they feel appriciated \n- only converse with the user and provide them with information in a friendly  manner \n- Ask the problems in a polite  way and address them with a solution \n\n\ntool: 'Knowledge_base'\ndescription: use this tool to address user symtopms and their queries regarding the clinic and their symptoms. make sure the output is not more than a single paragraph \n\nBehaviour\n- Always try to sound like a human have two way communication with the user\n- Do not bombard them information guide them towards their needs and then provide them with a solution  \n- do not draft an appointment message only address the customer query in a loving manner \n- Do not push the user to make an appointment  \n- Only make an appointment when asked for \n- do not mention booking appointment if not asked \n\n\nGUARDRAILS\n- keep the replies under 100 words always \n- Keep replies short and non-repetitive.\n- Do **not** quote prices unless explicitly provided by the clinic in the 'Knowlege_base' tool\n- Do **not** provide medical advice; recommend a consult when needed.If not in the 'Knowledge_base'\n- If user insists on an unavailable service/doctor → suggest nearest department or route to front desk.\n- Prefer WhatsApp/phone handoff upon any ambiguity the agent cannot resolve quickly.\n\n\n"
        }
      },
      "id": "89072e0f-3ba0-4b57-91a8-3fb811aa1306",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        2448,
        2576
      ],
      "typeVersion": 2,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "c0d70293-1022-4319-8103-fff749a376de",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json.messages[0].type }}",
                    "rightValue": "text"
                  }
                ]
              }
            },
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "257bc935-a8ea-4a41-83c5-a1c1fecb5198",
                    "operator": {
                      "name": "filter.operator.equals",
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json.messages[0].type }}",
                    "rightValue": "audio"
                  }
                ]
              }
            }
          ]
        },
        "options": {}
      },
      "id": "91daf475-bbba-473d-9cfc-49dbbf433ad3",
      "name": "Switch",
      "type": "n8n-nodes-base.switch",
      "position": [
        1744,
        2576
      ],
      "typeVersion": 3.2
    },
    {
      "parameters": {
        "url": "=https://graph.facebook.com/v21.0/{{ $('WhatsApp Trigger').item.json.messages[0].audio.id }}\n",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "access_token",
              "value": "Your acces token here "
            }
          ]
        },
        "options": {
          "response": {
            "response": {}
          }
        }
      },
      "id": "c740d138-00ae-4bcb-9eb8-c1c2eaed3f93",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1616,
        2736
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "translate",
        "options": {}
      },
      "id": "e3e47a94-dc53-4ee3-aa9c-56a2df1ada89",
      "name": "Translate a recording",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "position": [
        2000,
        2736
      ],
      "typeVersion": 1.8,
      "credentials": {
        "openAiApi": {
          "id": "YOQnRjh8xymSnNpL",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {},
      "id": "56a35687-d56b-48a3-bc33-f10ff127ba98",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "position": [
        2000,
        2576
      ],
      "typeVersion": 3.2
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "784554dc-88fa-4733-ae97-5f541fae706f",
      "name": "Embeddings OpenAI1",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "position": [
        2672,
        2912
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {},
      "id": "3e6c056c-d2d8-4f6e-9e31-1b8f6bbe3551",
      "name": "Reranker Cohere",
      "type": "@n8n/n8n-nodes-langchain.rerankerCohere",
      "position": [
        2832,
        2912
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "668904212970806",
        "recipientPhoneNumber": "={{ $('WhatsApp Trigger').item.json.messages[0].from }}",
        "textBody": "={{ $json.output }}",
        "additionalFields": {}
      },
      "id": "8cc0fb11-1e52-483d-9ccc-b85d45fd3469",
      "name": "Send message",
      "type": "n8n-nodes-base.whatsApp",
      "position": [
        2912,
        2576
      ],
      "webhookId": "9e097e1c-7c81-4286-bb05-df6b1e05d219",
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Ai agent ",
        "height": 656,
        "width": 1856,
        "color": 5
      },
      "id": "3141c03f-e51b-43d0-940a-70f66224a4e8",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1296,
        2400
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "updates": [
          "messages"
        ],
        "options": {}
      },
      "id": "ca46d74c-29fe-4de2-8507-0a6f5186b545",
      "name": "WhatsApp Trigger",
      "type": "n8n-nodes-base.whatsAppTrigger",
      "position": [
        1488,
        2576
      ],
      "webhookId": "3e4086bf-8e46-4489-9844-657dc6f96f73",
      "typeVersion": 1
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Use this tool to address customer queries regarding their symptoms and their queries regarding the clinic. ",
        "tableName": {
          "__rl": true,
          "mode": "list",
          "value": "documents",
          "cachedResultName": "documents"
        },
        "topK": 10,
        "useReranker": true,
        "options": {
          "queryName": "match_documents"
        }
      },
      "id": "5f2803fb-881d-4326-ac92-929b4342538c",
      "name": "Kknowledge_base",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "position": [
        2640,
        2768
      ],
      "typeVersion": 1.3
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.Phone }}"
      },
      "id": "60b84086-3482-41cd-8cd0-17f75676e864",
      "name": "Simple Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "position": [
        2352,
        2928
      ],
      "typeVersion": 1.3
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer YOUR_TOKEN_HERE access token here "
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "b0bf53c7-cef4-44a9-bc33-a27a21390efc",
      "name": "HTTP Request1",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1824,
        2736
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "29681984-eb3c-4c26-8de4-41fe8171abe2",
              "name": "Phone",
              "type": "string",
              "value": "={{ $('WhatsApp Trigger').item.json.messages[0].from }}"
            },
            {
              "id": "8d05b1e7-6035-42b2-8919-677ecd82fcbd",
              "name": "text ",
              "type": "string",
              "value": "={{ $json.text }}{{ $json.messages[0].text.body }}"
            }
          ]
        },
        "options": {}
      },
      "id": "d78666b9-e141-4ca9-8282-4140ea473c26",
      "name": "Edit Fields1",
      "type": "n8n-nodes-base.set",
      "position": [
        2176,
        2576
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "content": "#  WhatsApp → AI Agent (OpenAI + Supabase KB) → Reply\n\nThis workflow turns incoming **WhatsApp** messages (text or audio) into **short, friendly clinic replies** using an AI Agent with memory and a Supabase-powered knowledge base. It enforces guardrails (≤100 words, no pricing unless in KB, no hard sells).\n\n---\n\n## 0) What you need ready\n\n* **n8n**: running with a public URL.\n* **Meta WhatsApp Business**:\n\n  * A phone number connected to the app.\n  * **Webhook verified** to your n8n WhatsApp Trigger node (Production URL).\n* **Credentials** configured in n8n:\n\n  * **WhatsApp Trigger** (App ID, Secret, Verify Token).\n  * **WhatsApp Send** (Phone Number ID + Access Token) for `Send message` node.\n  * **OpenAI** (for Chat + Transcription) → used by `OpenAI Chat Model` and `Translate a recording`.\n  * **Supabase** (URL + Key) → used by `Kknowledge_base` (vector store).\n  * **Cohere** (optional but wired) for reranking.\n* **Supabase Table**: `documents` populated with clinic FAQs/policies/services (chunked & embedded). Keep it accurate—**agent won’t invent prices or services**.\n\n---\n\n## 1) How the flow runs (high level)\n\n1. **Inbound** → `WhatsApp Trigger` receives a user message.\n2. **Branch** → `Switch` checks `messages[0].type`:\n\n   * `text` → goes straight to `Merge` → `Edit Fields1`.\n   * `audio` → fetch media (`HTTP Request` → `HTTP Request1`) → `Translate a recording` (speech→text) → into `Merge`.\n3. **Normalize fields** → `Edit Fields1` sets:\n\n   * `Phone` = sender phone\n   * `text` = unified message text (either the typed text or transcription)\n4. **Agent runtime**:\n\n   * `OpenAI Chat Model` (gpt-4.1-mini, temp 0.3) provides reasoning/response engine.\n   * **Memory** → `Simple Memory` uses `Phone` to keep short conversational context per user.\n   * **Knowledge Tool** → `Kknowledge_base` (Supabase vector search, topK=10, with Cohere reranker) is available to the agent **as a tool** for grounding answers.\n   * **Agent** → `AI Agent` applies the clinic-specific system prompt and guardrails to produce **≤100 words** replies.\n5. **Deliver** → `Send message` replies on WhatsApp with `{{$json.output}}`.\n\n---\n\n## 2) One-time setup checks\n\n* **WhatsApp Trigger**: subscribe to `messages` updates; set Verify Token; use the **Production** webhook URL in Meta.\n* **Switch** node**: rules check exactly `text` or `audio` on `messages[0].type`.\n* **Audio path**:\n\n  * `HTTP Request` GET media metadata from Graph API using `messages[0].audio.id` + `access_token` query.\n  * `HTTP Request1` downloads the file using returned `url` and `Authorization: Bearer <PAGE_ACCESS_TOKEN>` header.\n  * `Translate a recording` uses your **OpenAI** credential (Whisper/translate) to output text.\n* **Edit Fields1**: confirm the expressions:\n\n  ```\n  Phone   = {{$('WhatsApp Trigger').item.json.messages[0].from}}\n  text    = {{$json.text}}{{$json.messages[0].text.body}}\n  ```\n\n  This concatenates either transcription (`$json.text`) or typed text.\n* **Agent**:\n\n  * `OpenAI Chat Model`: model `gpt-4.1-mini`, temperature `0.3`.\n  * `AI Agent` system message includes tone/guardrails for **HolistiCare (DHA, Lahore)**.\n  * **Connect** Memory (`Simple Memory` with `sessionKey = {{$json.Phone}}`) and Tool (`Kknowledge_base`) to the Agent.\n* **Supabase KB** (`Kknowledge_base`): mode `retrieve-as-tool`, table `documents`, `topK=10`, `useReranker=true`. Ensure embeddings in your table align with the model you indexed with.\n* **Reranker Cohere** (optional): wired into the KB for better results; needs valid key.\n* **Send message**: Set `phoneNumberId` and credential to your WhatsApp Business account; recipient is `{{$('WhatsApp Trigger').item.json.messages[0].from}}`.\n\n---\n\n## 3) Guardrails the agent follows (baked in)\n\n* ≤100 words, concise, human, empathetic, no emojis.\n* No prices unless present in **Knowledge_base**.\n* No medical advice; suggest consult when needed.\n* Don’t push bookings; only book if asked.\n* Prefer quick handoff to WhatsApp/phone if unclear.\n\n---\n\n## 4) How to test end‑to‑end (fast)\n\n1. In Meta, send a **text** WhatsApp message to your business number.\n2. Check n8n exec: should follow **text path** → Agent → reply ≤100 words.\n3. Send an **audio** note: verify **audio path** → download → transcribe → Agent → reply.\n4. Ask for **price** not in KB: agent should **avoid quoting** and suggest contacting front desk.\n5. Ask for a **service** not offered: agent should route to nearest department or front desk.\n\n---\n\n## 5) Customization quick wins\n\n* **Tone**: adjust in the Agent system message (keep length & guardrails).\n* **Word limit**: change the guardrail in the system message and test.\n* **Memory window**: configure `Simple Memory` buffer length for more/less context.\n* **Stronger grounding**: lower `topK` or tighten KB content; consider domain tags in your Supabase documents.\n* **Switch language**: rely on OpenAI translate path for audio; for text, add language detection pre‑step if needed.\n\n---\n\n## 6) Troubleshooting\n\n* **No trigger**: ensure Meta webhook points to the **Production** URL of `WhatsApp Trigger` and events are subscribed.\n* **Audio fails to download**: check Graph `access_token` and that `HTTP Request1` sends `Authorization: Bearer <PAGE_ACCESS_TOKEN>`.\n* **Transcription empty**: confirm `Translate a recording` credential and response mapping into `Merge`.\n* **Agent ignores KB**: verify `Kknowledge_base` is connected as a **tool** to `AI Agent` and your Supabase table has data.\n* **Long replies**: tighten the system prompt; reduce temperature; add “strictly under 100 words” at the end.\n* **No outgoing message**: check `Send message` phoneNumberId, token, and WhatsApp Business permissions.\n\n---\n\n## 7) Mental model\n\nWhatsApp in → (text OR audio→text) → normalize → Agent (OpenAI) + Memory + KB tool → short, safe reply → WhatsApp out. Keep the KB clean and the agent stays honest. ✅\n",
        "height": 3136,
        "width": 768
      },
      "id": "c20e6f93-5037-4eec-a1af-629de0c12414",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        496,
        -112
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "# : Auto‑ingest Google Drive docs into a Supabase Vector Store (for your KB)\n\nThis workflow watches a Google Drive **folder** and, when a file is updated, it **downloads → chunks → embeds → inserts** the text into a Supabase **`documents`** table for retrieval‑augmented agents.\n\n---\n\n## 0) What you need ready\n\n* **n8n** publicly reachable.\n* **Google Drive** OAuth credential with access to the watched folder.\n* **Supabase** project with a `documents` table that your vector store node is configured to use.\n* **OpenAI** API key (for embeddings).\n\n---\n\n## 1) How it runs (bird’s‑eye)\n\n1. **Trigger** → `Google Drive Trigger` polls **weekly (Sunday)** for `fileUpdated` events in the specified folder.\n2. **Capture file id** → `Edit Fields` sets `id = {{$json.id}}` for clean passing.\n3. **Download** → `Download file` pulls the file by id. If it’s a Google Doc/Sheet/Slide, it **converts Docs to `text/plain`** per options.\n4. **(Optional) Chunking** → `Character Text Splitter` defines chunk strategy (size **2000**, overlap **300**) and feeds `Default Data Loader`.\n5. **Embed + Insert** →\n\n   * `Embeddings OpenAI` provides the embedding model to the vector pipeline.\n   * `Default Data Loader` hands doc parts to the **`Supabase Vector Store`** (mode **insert**) which writes rows into **`documents`**.\n\n> Result: your updated Drive file is indexed for semantic search in Supabase.\n\n---\n\n## 2) One‑time setup checks\n\n* **Google Drive Trigger**\n\n  * `Trigger on`: **Specific folder** → confirm the folder id is correct.\n  * `Event`: **fileUpdated** (fires when a file changes in that folder or its children).\n  * `Poll schedule`: weekly; adjust if you want faster ingestion.\n* **Download file**\n\n  * `operation`: download by file id.\n  * **Google Docs conversion**: set to `docsToFormat: text/plain` (already set). Non‑Docs (PDF, .txt, .md) are downloaded as is.\n* **Character Text Splitter**\n\n  * `separator`: `.`\n  * `chunkSize`: **2000** | `chunkOverlap`: **300** (safe defaults; tune for your model).\n* **Embeddings OpenAI**\n\n  * Make sure the credential points to the right key; pick a modern embedding model (e.g., `text-embedding-3-small` or your preferred).\n* **Supabase Vector Store**\n\n  * `mode`: **insert**\n  * `tableName`: **documents**\n  * Has Supabase URL + service key in credentials.\n  * `options.queryName`: **match_documents** (the RPC you’ll use at query time).\n\n---\n\n## 3) Supported files & tips\n\n* **Google Docs** → auto‑converted to plain text.\n* **Plain text/Markdown** → ingests directly.\n* **PDF/Images** → not OCR’d by default. Add an OCR/parse step if needed before chunking.\n* Keep content clean: remove boilerplate headers/footers in source to avoid noisy chunks.\n\n---\n\n## 4) Customization quick wins\n\n* **Faster indexing**: change the trigger to `everyHour` or `every15Minutes`.\n* **Selective ingest**: filter by mimeType or filename in the trigger, or add a `Switch` node.\n* **Metadata**: add a `Set` node to attach `source`, `path`, `version`, `updatedAt` and map these to Supabase columns.\n* **De‑duplication**: before insert, call a Supabase function to upsert by `(source, doc_id, chunk_id)`.\n* **Chunking**: for Q&A docs, smaller chunks (e.g., 800/120 overlap) may give tighter hits.\n* **Embeddings model**: stay consistent between **index** and **query** pipelines to avoid vector mismatch.\n\n---\n\n## 5) Troubleshooting (fast)\n\n* **No events**: the file wasn’t actually “updated,” or polling window too wide; shorten schedule or manually bump file versions.\n* **Blank text**: conversion failed or binary file not supported; add a converter/OCR step.\n* **Insert errors**: check Supabase row size/column mapping; ensure your table schema matches what the node sends.\n* **Bad retrieval**: adjust chunking, ensure the same embedding model is used at query time, and verify you’re calling `match_documents` with sensible `topK`.\n\n---\n\n## 6) Mental model\n\nDrive update → Download (+convert) → Split → Embed → Insert into Supabase. Once this is solid, your chatbot/agent can query `match_documents` and stay fresh without manual uploads. ✅\n",
        "height": 2224,
        "width": 1152
      },
      "id": "15c17979-e1cc-4ac2-95be-7c38c15a0e85",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3152,
        2544
      ],
      "typeVersion": 1
    }
  ],
  "connections": {
    "Merge": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Translate a recording",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Kknowledge_base": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Reranker Cohere": {
      "ai_reranker": [
        [
          {
            "node": "Kknowledge_base",
            "type": "ai_reranker",
            "index": 0
          }
        ]
      ]
    },
    "WhatsApp Trigger": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Kknowledge_base",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Translate a recording": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "7df3e03d-7312-4e27-a98a-4a6b0b049ef8",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-03-11T12:37:36.277Z",
      "createdAt": "2026-03-11T12:37:36.277Z",
      "role": "workflow:owner",
      "workflowId": "huPeULVLXBN34GqX",
      "projectId": "hpe7WmbQSau9ZZOx"
    }
  ],
  "activeVersion": null,
  "tags": []
}