Whatsapp Agent/Whatsapp Agent.json
{
  "updatedAt": "2026-03-10T07:48:12.139Z",
  "createdAt": "2026-03-06T01:21:20.253Z",
  "id": "mnWXiQoyZNMYYUQS",
  "name": "Whatsapp Agent",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "67337446-133d-40a7-afe1-9c645c6f7dd3",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -352,
        -160
      ],
      "id": "61f1ff58-7b34-4902-82dc-516d4e56394a",
      "name": "Webhook",
      "webhookId": "67337446-133d-40a7-afe1-9c645c6f7dd3"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Mensagem enviada pelo usuário:\n{{ $json.body.data.message.conversation }}\n\nNome do usuário: {{ $json.body.data.pushName }}",
        "options": {
          "systemMessage": "[ROLE]\nVocê é um assistente de agenda especializado em gerenciar eventos no calendário do usuário.\n\n[OBJECTIVE]\nSeu único objetivo é ajudar o usuário a gerenciar eventos no calendário.\nIsso inclui exclusivamente:\n\n* verificar disponibilidade de horários\n* criar eventos\n* consultar eventos existentes\n* deletar eventos\n\nVocê deve utilizar as ferramentas disponíveis para acessar ou modificar o calendário.\n\n[TOOLS]\n\nConsultarDisponibilidadeAgenda\nDescrição: verifica se um determinado horário está disponível no calendário.\n\nQuando usar:\n\n* quando o usuário quiser saber horários livres\n* antes de criar um novo evento\n* quando precisar validar se um horário está disponível\n\n---\n\nCriarEventoAgenda\nDescrição: cria um novo evento no calendário.\n\nQuando usar:\n\n* quando o usuário solicitar a criação de um evento\n* somente após verificar que o horário está disponível\n* quando todas as informações necessárias estiverem disponíveis\n\n---\n\nConsultarEventoAgenda\nDescrição: retorna eventos existentes no calendário.\n\nQuando usar:\n\n* quando o usuário quiser consultar compromissos\n* quando precisar identificar um evento específico\n* antes de deletar um evento caso o usuário não tenha fornecido detalhes suficientes\n\n---\n\nExcluirEventoAgenda\nDescrição: remove um evento do calendário.\n\nQuando usar:\n\n* quando o usuário solicitar cancelamento ou remoção de um evento\n* após identificar claramente qual evento deve ser removido\n\n[TASK]\n\nAo receber uma solicitação do usuário:\n\n1. Analise a intenção da solicitação.\n2. Identifique se a solicitação está relacionada ao gerenciamento de calendário.\n3. Determine qual ferramenta deve ser utilizada.\n4. Utilize a ferramenta apropriada para executar a ação.\n\nFluxos esperados:\n\nConsulta de agenda\n→ usar ConsultarEventoAgenda\n\nConsulta de horários livres\n→ usar ConsultarDisponibilidadeAgenda\n\nCriação de evento\n→ verificar disponibilidade com ConsultarDisponibilidadeAgenda\n→ se o horário estiver disponível, usar CriarEventoAgenda\n\nRemoção de evento\n→ identificar evento com ConsultarEventoAgenda se necessário\n→ confirmar evento correto\n→ usar ExcluirEventoAgenda\n\nSe faltar alguma informação necessária para executar a ação, solicite ao usuário antes de usar qualquer ferramenta.\n\n[INPUT FORMAT]\n\nAs solicitações do usuário podem conter informações como:\n\n* título do evento\n* data do evento\n* horário de início\n* horário de término\n* duração do evento\n\nEssas informações podem ser fornecidas de forma completa ou parcial.\nCaso alguma informação obrigatória esteja ausente, você deve solicitá-la ao usuário antes de executar a ação.\n\n[OUTPUT FORMAT]\n\nSuas respostas devem seguir estas regras:\n\n* seja claro, objetivo e direto\n* confirme ações realizadas\n* informe erros ou conflitos de horário quando existirem\n\nExemplos de resposta:\n\nEvento criado com sucesso:\n\"Reunião com equipe\" em 12/03 às 15:00.\n\nHorário indisponível:\nO horário solicitado já possui um evento agendado. Deseja escolher outro horário?\n\nEvento removido com sucesso.\n\n[TOOL CALL POLICY]\n\nSempre utilize ferramentas para acessar ou modificar o calendário.\n\nRegras importantes:\n\n* nunca invente eventos\n* nunca assuma disponibilidade de horário\n* nunca confirme criação ou exclusão sem usar a ferramenta correspondente\n* sempre verificar disponibilidade antes de criar eventos\n* sempre identificar corretamente um evento antes de deletar\n\n[ERROR HANDLING]\n\nSe ocorrer qualquer problema durante uma ação:\n\nCaso faltem informações:\n→ solicite os dados necessários ao usuário\n\nCaso haja conflito de horário:\n→ informe que o horário está ocupado e sugira escolher outro horário\n\nCaso existam múltiplos eventos possíveis para deletar:\n→ peça confirmação ao usuário antes de executar a exclusão\n\nCaso a ferramenta retorne erro:\n→ informe ao usuário que ocorreu um problema ao acessar o calendário e peça para tentar novamente\n\n[CONSTRAINTS]\n\nVocê possui as seguintes limitações:\n\n1. Você só pode ajudar com gerenciamento de eventos do calendário.\n\n2. Você não responde perguntas fora desse contexto.\n\n3. Se o usuário solicitar algo fora do escopo, responda educadamente que você é um assistente dedicado apenas à gestão de agenda.\n\n4. Nunca invente eventos ou horários.\n\n5. Nunca execute ações sem utilizar as ferramentas disponíveis.\n\n6. Sempre confirme que possui todas as informações necessárias antes de executar uma ação.\n\n7. Seja sempre objetivo e profissional.\n\n\n[REASONING]\n\nAntes de responder ao usuário, siga mentalmente este processo:\n\n1. Identificar a intenção da solicitação.\n2. Verificar se a solicitação está dentro do escopo de gerenciamento de calendário.\n3. Determinar qual ferramenta resolve o problema.\n4. Utilizar a ferramenta apropriada.\n5. Informar o resultado ao usuário.\n\nNunca responda com base em suposições sobre o calendário.\nTodas as informações devem vir exclusivamente das ferramentas disponíveis.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -48,
        -160
      ],
      "id": "6dafc21b-e07a-4c08-9cc3-4b74beb6ac7e",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-5-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -48,
        64
      ],
      "id": "f69d6bfa-ea95-4334-aaf7-c07d6b22d614",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "YOQnRjh8xymSnNpL",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://evolution.dataforgebr.com/message/sendText/Bot Financeiro",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "FC6086B57004-4313-AB8C-7E4C6903FFE6"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"number\": \"{{ $('Webhook').item.json.body.data.key.remoteJid }}\",\n  \"text\": \"{{ $json.output.replaceAll('\"','\\\\\"').replaceAll(\"\\n\", '\\\\n') }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        832,
        -160
      ],
      "id": "f2da9822-dad1-42c5-9c23-6a309b4ea54d",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.body.data.key.remoteJid }}",
        "contextWindowLength": 2
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        96,
        64
      ],
      "id": "a4da0390-272e-4a2a-9b2c-602a4626e77e",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "dataforge.br@gmail.com",
          "mode": "list",
          "cachedResultName": "dataforge.br@gmail.com"
        },
        "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}",
        "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}",
        "additionalFields": {
          "summary": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Summary', ``, 'string') }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        304,
        48
      ],
      "id": "24c58a32-ab89-43aa-933e-cf712788f837",
      "name": "CriarEventoAgenda",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "aC458ynTJ9bcVzEh",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "calendar": {
          "__rl": true,
          "value": "dataforge.br@gmail.com",
          "mode": "list",
          "cachedResultName": "dataforge.br@gmail.com"
        },
        "eventId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        304,
        192
      ],
      "id": "c1ca4d25-a830-4067-bda6-7f094ee058da",
      "name": "ConsultarEventoAgenda",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "aC458ynTJ9bcVzEh",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "resource": "calendar",
        "calendar": {
          "__rl": true,
          "mode": "list",
          "value": "dataforge.br@gmail.com"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        512,
        192
      ],
      "id": "68af2d6a-f4be-4e96-9a84-986e0a056c33",
      "name": "ConsultarDisponibilidadeAgenda",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "aC458ynTJ9bcVzEh",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "calendar": {
          "__rl": true,
          "value": "dataforge.br@gmail.com",
          "mode": "list",
          "cachedResultName": "dataforge.br@gmail.com"
        },
        "eventId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        496,
        48
      ],
      "id": "9bcc039a-f075-4f26-b6aa-f0691b5ea876",
      "name": "ExcluirEventoAgenda",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "aC458ynTJ9bcVzEh",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "content": "- Webhook\nFica ouvindo as mensagens enviadas por whatsapp.",
        "height": 288,
        "width": 256
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -432,
        -288
      ],
      "id": "00bd4b86-796d-467a-8095-e9df33add34d",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "- Agente de IA\nVai receber a mensagem do usuário, analisar o contexto usando LLM e definir a ação a ser executada utilizando as ferramentas disponíveis",
        "height": 688,
        "width": 800,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -96,
        -288
      ],
      "id": "5de492d1-fd4c-433d-8b0d-5adbe318470c",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "- HTTP Resquest\nRetorna a resposta do agente para quem enviou",
        "height": 304,
        "width": 304
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        720,
        -288
      ],
      "id": "bc87cdbb-55a4-4ff9-805e-8fe2fa81b04f",
      "name": "Sticky Note2"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "CriarEventoAgenda": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "ConsultarEventoAgenda": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "ConsultarDisponibilidadeAgenda": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "ExcluirEventoAgenda": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "n8n-jornadadedados-n8n.jgirz9.easypanel.host",
            "user-agent": "axios/1.13.2",
            "content-length": "1508",
            "accept": "application/json, text/plain, */*",
            "accept-encoding": "gzip, compress, deflate, br",
            "content-type": "application/json",
            "x-forwarded-for": "172.18.0.1",
            "x-forwarded-host": "n8n-jornadadedados-n8n.jgirz9.easypanel.host",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "cea0ed12079e",
            "x-real-ip": "172.18.0.1"
          },
          "params": {},
          "query": {},
          "body": {
            "event": "messages.upsert",
            "instance": "Bot Financeiro",
            "data": {
              "key": {
                "remoteJid": "5521994496428@s.whatsapp.net",
                "remoteJidAlt": "5521994496428@s.whatsapp.net",
                "fromMe": false,
                "id": "AC9690655D230F3F2E582C4297CF1A32",
                "participant": "",
                "addressingMode": "lid"
              },
              "pushName": "Rodrigo Silva",
              "status": "DELIVERY_ACK",
              "message": {
                "conversation": "Oi, bom dia!",
                "messageContextInfo": {
                  "threadId": [],
                  "deviceListMetadata": {
                    "senderKeyIndexes": [],
                    "recipientKeyIndexes": [],
                    "senderKeyHash": {
                      "0": 20,
                      "1": 208,
                      "2": 117,
                      "3": 179,
                      "4": 44,
                      "5": 51,
                      "6": 129,
                      "7": 171,
                      "8": 142,
                      "9": 139
                    },
                    "senderTimestamp": {
                      "low": 1772646520,
                      "high": 0,
                      "unsigned": true
                    },
                    "recipientKeyHash": {
                      "0": 200,
                      "1": 3,
                      "2": 127,
                      "3": 24,
                      "4": 204,
                      "5": 20,
                      "6": 59,
                      "7": 172,
                      "8": 78,
                      "9": 112
                    },
                    "recipientTimestamp": {
                      "low": 1772760662,
                      "high": 0,
                      "unsigned": true
                    }
                  },
                  "deviceListMetadataVersion": 2,
                  "messageSecret": {
                    "0": 116,
                    "1": 187,
                    "2": 247,
                    "3": 23,
                    "4": 179,
                    "5": 45,
                    "6": 200,
                    "7": 80,
                    "8": 17,
                    "9": 64,
                    "10": 136,
                    "11": 122,
                    "12": 204,
                    "13": 72,
                    "14": 158,
                    "15": 141,
                    "16": 31,
                    "17": 173,
                    "18": 235,
                    "19": 160,
                    "20": 2,
                    "21": 49,
                    "22": 199,
                    "23": 74,
                    "24": 45,
                    "25": 78,
                    "26": 192,
                    "27": 244,
                    "28": 40,
                    "29": 166,
                    "30": 35,
                    "31": 129
                  }
                }
              },
              "messageType": "conversation",
              "messageTimestamp": 1773127952,
              "instanceId": "b20f07c8-3032-4f86-ba0b-5c82fbd4cb00",
              "source": "android"
            },
            "destination": "https://n8n-jornadadedados-n8n.jgirz9.easypanel.host/webhook-test/67337446-133d-40a7-afe1-9c645c6f7dd3",
            "date_time": "2026-03-10T04:32:33.151Z",
            "sender": "5521992496360@s.whatsapp.net",
            "server_url": "https://evolution.dataforgebr.com",
            "apikey": "FC6086B57004-4313-AB8C-7E4C6903FFE6"
          },
          "webhookUrl": "https://n8n-jornadadedados-n8n.jgirz9.easypanel.host/webhook-test/67337446-133d-40a7-afe1-9c645c6f7dd3",
          "executionMode": "test"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "versionId": "9b2de396-1406-43a4-be57-7b37d128b75b",
  "activeVersionId": null,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-03-06T01:21:20.270Z",
      "createdAt": "2026-03-06T01:21:20.270Z",
      "role": "workflow:owner",
      "workflowId": "mnWXiQoyZNMYYUQS",
      "projectId": "hpe7WmbQSau9ZZOx"
    }
  ],
  "activeVersion": null,
  "tags": []
}